body{
  background-image: url(Images/serengeti.jpg);
  background-size: cover;
  background-attachment:fixed;
  vertical-align: bottom;
  background-position: center;

} 
header{
    
    width : 100%;
    padding:10px;
    position:sticky;
  
    /* height:120px !important; */
    /* background-color: dimgrey; */
}
nav{
    /* padding-left: 40vw; */
      /* left: 0; */
      max-width: 50%;
      color:white;
      height: 100%;
    }
    nav>ul{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    nav>ul>li{
      list-style: none;
    }
    li>a{
      color: white;
      text-decoration: none;
    }

.centered{
        
        position: relative;
        width: 100%;
        height:285px;
        /* transform: translate(-50%,-50%); */
        /* background-image: url(); */
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        }
        .centered img{
            width:100%;
            background-size: cover;
            background-repeat: no-repeat;
            position: relative;
      
        } 
        .about-wrapper{
      
            position: absolute;
            top:25px;
            left: 25px;
            right: 25px;
        }
        .about-header{
            font-size: 40px;
            font-family:Luminari, fantasy;
            color: mediumblue;
            text-align: center;
        }
        .about-description{
            /* position: absolute; */
            /* top: 100px; */
      
                font-size:30px;
                font-family: Bradley Hand, cursive;
                color: yellow;
                text-align: center;
        }    
.about{

              font-family: 'Open Sans Condensed', sans-serif;
              font-size: 16px;
              
            
              
          }        

.circle-shape {
            width: 300px;
            height: 300px;
            padding: 45px;
            background-color: green;
            border-radius: 75px;
            border: 7px solid #e9e9e9;
            box-shadow: 0px 15px 10px -10px #666;
            font-size: medium;
            line-height: 1.6;
            color: black;
            float: left;
          }
          #services h2{
            font-size: 30px;
          }    
  
          /* .bg-img {
             */
            /* The image used */
            /* background-image: url("/Images/BG.jpg"); */
          
            /* Control the height of the image */
            /* min-height: 80px;
              */
          
            /* Center and scale the image nicely */
            /* background-position: center;
            background-repeat: no-repeat;
            background-size: 300px;
            position: relative; */
          /* } */
          
          /* Add styles to the form container */
          .form {
            /* display: flex;
            position: absolute;
            float: right; */
            /* right: 0px; */
            margin:auto;
            max-width: 300px;
            padding: 25px;
            background-color: white;
            box-shadow: 5px 5px 5px grey;
          }
          .form .container h1{
            text-align: center;
            font-weight: 500;
            font-size: 20px;
            padding-bottom: 10px;

          }
          .form .input-wrapper{
            display: flex;
            flex-direction: column;
            padding: 0 15px 15px 15px;
          }
          .form .input-wrapper:first-child{
            padding-bottom:15px ;
          }
          /* Full-width input fields */
            input[type=text], input[type=password] {
            width: 100%;
            /* padding: 15px;
            margin: 5px 0 22px 0; */
            padding: 16px 0;
            padding-left: 10px;
            border: none;
            background: #f1f1f1;
          }

          .input-wrapper label{
            padding-bottom: 10px;
            font-weight: 400;
          }
          
          input[type=text]:focus, input[type=password]:focus {
            background-color: #ddd;
            outline: none;
          }
          
          /* Set a style for the submit button */
          .btn {
            background-color: #4CAF50;
            color: white;
            padding: 16px 20px;
            border: none;
            cursor: pointer;
            width: 100%;
            opacity: 0.9;
          }
          
          .btn:hover {
            opacity: 1;
          }        
/* #gallery{
            position: relative;
            display:inline;
            clear: right;
           
          } */
      
.row {
            display: flex;
            border-top: 50%;
            position: absolute;
            width: 1105px;
            height: 425px;
            top: 2300px;
            border-style: hidden;
            left: 23px;
            
          }
          
.column {
         
            flex: 33.33%;
            padding: 5px;
            
            /* clear: both; */

}
/* .column img{
  float: right;
} */

.gallery{
  position: absolute;
  text-align: left;
  width: 1080px;
  height: 425px;
  top: -60px;
  border-style: hidden;
  
}

.column1{
  position: absolute;
  width: 1105px;
  height: 425px;
  top: 400px;
  border-style: hidden;
  left: 2px;
}

.column3{
  position: absolute;
  width: 1105px;
  height: 425px;
  top: 400px;
  border-style: hidden;
  left: 745px;
}

.column2{
  position: absolute;
  width: 1105px;
  height: 425px;
  top: 400px;
  border-style: hidden;
  left: 385px;
}

.text{
  position: absolute;
            width: 1105px;
            height: 425px;
            top: 700px;
            border-style: hidden;
            left: 20px;
            font-size: 20px;
}

